.blogs-main h1{
  color: black;
  font-size: 35px;
  margin-left: 67px;
}

.blogs-main h3{
  color: rgb(53, 53, 53);
  font-size: 17px;
  margin-left: 67px;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* To evenly distribute columns */
    margin: 40px;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .blog-container {
    width: calc(33.33% - 20px); /* 33.33% width for each column with a bit of spacing */
    margin-bottom: 20px; /* Spacing between rows */
    border: 0.1px solid rgb(59, 58, 58); /* Black border */
    border-radius: 5px;
    overflow: hidden; /* Hide overflow content */
    color: black;
    background-color: #f2f2f2;
  }
  
  .blog-container:hover .img-row img {
    transform: scale(1.05); /* Zoom effect on hover */
    transition: transform 0.5s ease; /* Slower transition */
  }
  
  
  .img-row img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .blog-text-row {
    padding: 10px;
  }
  
  .blog-date {
    font-weight:50px;
    color: rgb(41, 40, 40);
    font-size: smaller;
  }

  .blog-dat calender-icon{
    margin-right: 5px;
  }
  
  .blog-text {
    margin-top: 10px;
  }
  
  .blog-btn {
    margin-top: 20px;
    padding: 5px 10px;
    color: rgb(116, 114, 114);
    border: none;
    cursor: pointer;
  }
  